<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: pagehead('Zmiana hasła', 'none')"/>

<body>

<div class="container-fluid text-center">
    <div th:replace="fragments :: header"></div>

    <div>&nbsp;</div>

    <div>
        <h2>Zresetuj hasło</h2>
    </div>

    <form th:action="@{/reset_password}" method="post" style="max-width: 420px; margin: 0 auto">
        <input type="hidden" th:value="${token}" name="token">
        <div class="border border-secondary rounded p-3">

            <div>
                <p>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Wpisz nowe hasło" required="required" autofocus="autofocus" minlength="6"/>
                </p>
            </div>

            <div>
                <p>
                    <input type="password" placeholder="Powtórz nowe hasło" class="form-control" required="required" minlength="6" oninput="checkPasswordMatch(this)"/>
                </p>
            </div>

            <div>
                <p>
                    <input type="submit" value="Zmień hasło" class="btn btn-primary" />
                </p>
            </div>
        </div>
    </form>

<div>&nbsp;</div>

    <div th:replace="fragments :: footer"></div>

</div>
<script type="text/javascript">
    function checkPasswordMatch(confirmPassword) {
        if (confirmPassword.value != $("#password").val()) {
            confirmPassword.setCustomValidity("Hasła nie są zgodne!");
        } else {
            confirmPassword.setCustomValidity("");
        }
    }
</script>
</body>
</html>