<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: pagehead('ADMIN - PANEL', 'none')" />
<body>

<div class="container-fluid">
    <div th:replace="fragments :: adminheader">

    </div>
    <div>
        <h1>HELLO ADMIN</h1>
        <a th:href="@{/account}"
           sec:authentication="principal.fullname"></a>
        <span sec:authentication="principal.authorities"></span>
    </div>

</div>
</body>
</html>